@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
6.0 - Responsive / Media Queries
	6.1 - Small Display
--------------------------------------------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	font-size: 20px;
	background-color: #F4ECE9;
}

body{
	overflow-x: hidden;
}

body, nav ul li a, a[href="tel:+6478257873"], #btn-outline-blue, .bg-green .col-1-3 li a:hover, .bg-green a[href="tel:+6478257873"]:hover {
	color: #1A434A;
}

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

h1, h2, input[placeholder="email"], .btn-outline-wht, #services .grid li, #pkg-lead-in, h3, .btn-blue, #services .col-1-3 > p, #btn-outline-blue, label, #location div.col-1-2 + div.col-1-2 p{
	text-transform: uppercase;
}

.flex li:nth-child(odd), h2, .col-2-3 p, .bg-green .col-1-2 p, #about .col-1-4, #services .col-1-3 > p, #instructors .col-1-3, #services div[class="col-1-2 cntr-blk"], #article, .bg-green .col-1-3 ul, #location div.col-1-2 + div.col-1-2 p{
	text-align: center;
}

.bg-green .col-2-3 p, #enews, .bg-green .col-1-2 p, .btn-outline-wht, .btn-blue, #services .col-1-3 > p, #btn-outline-blue:hover, .bg-green address p, .bg-green a[href="tel:+6478257873"], .bg-green .col-1-3 li a{
	color: #F4ECE9;
}

a[href="tel:+6478257873"]:hover, h3 span, h4, #intro p{
	color: #158F80;
}

#services .col-1-3  > p, .btn-blue, #btn-outline-blue:hover{
	background-color: #158F80;	
}

.bg-green address p, nav ul{
	text-align: right;
}

h4, #services ul{
	margin-top: 0;
}

h3 span, h4, #services .col-1-2 p:first-child{
	margin-bottom: 0;
}

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */

h1 {
	text-indent: 30px;
	font: 700 3rem/3rem 'Oswald', sans-serif;
	margin: .67em 70px 0;
}

h2{
	font: 700 2rem/2rem 'Oswald', sans-serif;
	letter-spacing: .125rem;
}

h3{
	font: 600 1.25rem/1.25rem 'Oswald', sans-serif;
	margin: 0 0 5px;
}

h3 span, h4{
	font: 600 .5rem 'Work Sans', sans-serif;
}

/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */

#enews, #article p:first-child{
	font: 400 1rem 'Oswald', sans-serif;
	letter-spacing: 0;
}

#enews{
	margin-top: 25px;
	text-align: left;
}

p{
	font: 400 .625rem/1rem 'Work Sans', sans-serif;
}

strong{
	font-weight: 700;
}

#intro p{
	font: 600 1rem/1.125rem 'Work Sans', sans-serif;
	padding: 0 90px 0 0;
}

.bg-green .col-2-3 p{
	font: 700 .75rem 'Work Sans', sans-serif;
}

.bg-green .col-1-2 p{
	margin-bottom: 70px;
}

#about .col-1-4{
	margin: 70px 0;
}

#pkg-lead-in{
	line-height: 2rem;
}

#services .col-1-2 p:first-child, #pkg-lead-in{
	font: 500 .8rem 'Oswald', sans-serif;
}

#services header .col-2-3 p{
	font: 500 .8rem 'Work Sans', sans-serif;
}

#services .col-1-3  > p{
	padding: 7px;
	font: 600 .7rem 'Oswald', sans-serif;
	letter-spacing: .05rem;
}

#services li p{
	margin-top: 7px;
}

#article p:first-child{
	margin-right: 20px;
}

#push-right p{
	text-align: left;
}

address p, #location div.col-1-2 + div.col-1-2 p{
	margin: 0;
}

address{
	margin-top: 12.5px;
}

.bg-green address p:first-child{
	margin-top: 20px;
}

#services .col-5-8 p{
	margin: 0 0 10px;
}

#location div.col-1-2 + div.col-1-2 p{
	font: 600 1rem 'Oswald', sans-serif;
}

/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */

a{
	text-decoration: none;
}

li, a{
	list-style: none;
}


nav ul li a:hover{
	color: #1CBAA6;
}

.btn-outline-wht, .btn-blue #btn-outline-blue{
	font: 600 .65rem 'Work Sans', sans-serif;
}

.btn-outline-wht{
    border: 2px solid #F4ECE9;
}

.btn-outline-wht:hover, .btn-blue:hover, .bg-green form input{
	background-color: #147A6D;
}

.btn-blue, .btn-outline-wht, #btn-outline-blue{
	padding: 10px 50px;
}

#btn-outline-blue{
    border: 2px solid #158F80;
}

#btn-outline-blue:hover, .btn-outline-wht:hover, .btn-blue:hover{
	border: none;
}

/*--------------------------------------------------------------
1.4 - Forms
-------------------------------------------------------------- */

label[for="email"]{
	display: none;
}

.bg-green form{
	margin-top: 15px;
}

.bg-green form input{
	padding-top: 20px;
}

.bg-green form input {
	padding: 14px;
    border: none;
	margin: 0 40px 0 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font: 400 .60rem 'Oswald', sans-serif;
	color: #F4ECE9;
}
::-moz-placeholder { /* Firefox 19+ */
	font: 400 .60rem 'Oswald', sans-serif;
	color: #F4ECE9;
}
:-ms-input-placeholder { /* IE 10+ */
	font: 400 .60rem 'Oswald', sans-serif;
	color: #F4ECE9;
}
:-moz-placeholder { /* Firefox 18- */
	font: 400 .60rem 'Oswald', sans-serif;
	color: #F4ECE9;
}

form input, form textarea {
    background-color: #e0d8d6;
	padding: 13px 10px;
    border: none;
	margin: 8px 0;
}

label{
	font: 500 .7rem 'Oswald', sans-serif;
}

/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */

nav ul li{
	font: 400 .75rem 'Oswald', sans-serif;
}

#services .col-1-3 li{
	margin: 0 6px;
	vertical-align: text-top;
}

.bg-green .col-1-3 ul li, nav ul li{
	margin: 0 10px;
}

.bg-green .col-1-3 ul li a i{
	font-size: 25px;
}

#services .grid li{
	font: 400 .5rem 'Work Sans', sans-serif;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

.blk, nav ul li, .grid li, #services .col-1-3 li, .bg-green .col-1-3 li, #article p{
	display: inline-block;
}

/*--------------------------------------------------------------
3.1 - Site Structure (Site Header, Advertisement, Site Footer)
-------------------------------------------------------------- */

.wrapper, .cntr-blk{
	margin: 0 auto;
}

.wrapper{
	width: 80%;
}

.row:after{
	content:"";
	display: table;
	clear: both;
}


img[src="img/logo-wht.png"], #intro p{
	margin-top: 10px;
}

.bg-green .col-1-3 ul, .after, .before{
	margin-top: 50px;
}

body > header, .after, .before {
	position: relative;
}

header .col-5-8{
	margin: 0 132px;
}

#location div.col-1-2 + div.col-1-2{
	padding-bottom: 0;
}

/* PACKAGES */
.after, .before {
	top: 0;
	left: 0;
}

.after:after {
	background: url(../img/bg-packages.png) no-repeat top right;
	right: -170px;
}

.before:before {
	background: url(../img/bg-packages-reverse.png) no-repeat top right;
	left: -170px;
}

.before:before, .after:after{
	content: '';
	-webkit-background-size: contain;
	-ms-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width: 300px;
	position: absolute;
	top: 0px;
}

.after .col-5-6 [class*="col-"], .before .col-5-6 [class*="col-"], #services ul, .bg-green .col-1-3 ul, .flex ul {
	padding: 0;
}

.before .col-5-6{
	margin-left: 10%;
}

#location{
	margin: 100px 139px;
}

#instructors{
	margin: 50px 139px 100px;
}

#services .col-1-2{
	margin-bottom: 50px;
}

/*Grid Code*/
.flex, .flex-1-2 {
  	display: flex;
}

.flex-1-2{
	flex-flow: row wrap;
}

.flex [class*='col-'] {
  flex: 1;
}

.flex .grid {
  	display: grid;
  	grid-template-columns: 50px auto 50px auto 50px auto; 
	grid-template-rows: 50px;/* just ignore validation issue for now. In web III you'll discuss polyfills for older browsers */ 
}


.flex .grid, form input, form textarea{
	width: 100%; 
}

ul.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr; 
}

#map, .before:before, .after:after{
	height: 400px;
}

/*PERMANT--------*/
[class*='col-']{
	float: left;
	padding: 0 10px 10px 10px;/*Work with padding for this....always!*/
}


/*---------PERMANT*/

.col-1-2{
	width: 50%;
}

.col-1-3{
	width: 33.33%;
}

.col-2-3{
	width: 66.66%;
}

.col-1-4{
	width: 25%;
}

.col-3-4{
	width: 75%;
}

.col-1-5{
	width: 20%;
}

.col-2-5{
	width: 40%;
}

.col-3-5, .bg-green form input{
	width: 60%;
}

.col-1-6{
	width: 16.66%;
}

.col-5-6{
	width: 83.3%;
}

.col-1-7{
	width: 14.28%;
}

.col-4-7{
	width: 57.12%;
}

.col-3-7{
	width: 42.84%;
}

.col-1-8{
	width: 12.5%;
}

.col-5-8{
	width: 62.5%;
}

.col-3-8{
	width: 37.5%;
}

.col-1-9{
	width: 11.11%;
}

.col-4-9{
	width: 44.44%;
}

.col-5-9{
	width: 55.55%;
}

.col-1-10{
	width: 10%;
}

.col-9-10{
	width: 90%;
}

.col-1-11{
	width: 9.09%;
}

.col-3-11{
	width: 27.27%;
}

.col-8-11{
	width: 72.72%;
}

.col-1-12{
	width: 8.33%;
}

.col-3-12{
	width: 24.99%;
}

.col-9-12{
	width: 74.97%;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

img{
	max-width: 100%;
}

figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

svg{
	background: url(../img/bg-wave.png)no-repeat -475px center; /* This applies the cresting wave, the negative background position will need to be updated */ 
	-webkit-background: url(../img/bg-wave.png)no-repeat -475px center; 
	-moz-background: url(../img/bg-wave.png)no-repeat -475px center;
	-ms-background: url(../img/bg-wave.png)no-repeat -475px center;
	-o-background: url(../img/bg-wave.png)no-repeat -475px center;	
	background-size:contain; /* allows the bg image to respond to browser  */ 
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-ms-background-size:contain;
	-o-background-size:contain;
	display: block; /* need to include so that the wave and next div touch to create a seamless background color*/ 
}

#bg-green {
	background-image: url(../img/bg-ptrn.jpg);  
	padding: 20px 0; /* padding is necessary so that the margins on the text do not exceed the parent  */ 
}

img[src="img/logo-blue.png"]{
	max-width: 100px;
}

img[src="img/logo-wht.png"]{
	max-width: 70px;
}

#about .col-1-4 div, #instructors .col-1-3 div{
	min-height: 60px;
}

/*--------------------------------------------------------------
5.0 - Utilities
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - Background Colors
-------------------------------------------------------------- */

.bg-green{
	background: url(../img/bg-ptrn.jpg) repeat-x;
	-webkit-background: url(../img/bg-ptrn.jpg) repeat-x;
	-moz-background: url(../img/bg-ptrn.jpg) repeat-x;
	-ms-background: url(../img/bg-ptrn.jpg) repeat-x;
	-o-background: url(../img/bg-ptrn.jpg) repeat-x;
	padding: 10px;
}

/*--------------------------------------------------------------
5.4 - Alignments
-------------------------------------------------------------- */

.cntr-blk, .after .col-5-6, .before .col-5-6, header .col-5-8 {
	float: none;
}

#push-right{
	float: right;
}


/*--------------------------------------------------------------
6.0 - Responsive / Media Queries
-------------------------------------------------------------- */

@media screen and (min-width: 1024px){
	#intro {
		position: absolute; 
		top: 90px;
		left: -10px;
		width: 100%; 
		z-index: -10;
	}
}

@media screen and (max-width: 1024px){
	svg  {
		display: none;
	}
	
	#intro{
	background-image: url(../img/bg-ptrn.jpg);  /* applies the green background to the div where the text will be, this image will need to be updated to create a seamless repeating pattern  */ 
	height: 300px; /* Once text is in place, remove and utilize padding or margin on text  */ 
	padding: 20px 0; /* padding is necessary so that the margins on the text do not exceed the parent  */ 
}
}

/*--------------------------------------------------------------
6.1 - Small Display
-------------------------------------------------------------- */

@media screen and (max-width: 480px){
	.wrapper {
		width: 95%;
	}
	
	/*Typography*/
	header nav ul, p, .btn-blue, header div.col-1-2{ 
		text-align: center;
	}
	
	address p, .col-5-6 p, .bg-green .col-1-3 ul{
		text-align: left;
	}
	
	h1 {
		text-indent: 0;
		font: 700 1.35rem 'Oswald', sans-serif;
	}
	
	#intro p {
		font: 500 1rem/1.25rem 'Work Sans', sans-serif;
		padding: 0;
		color: #F4ECE9;
	}
	
	.bg-green .col-2-3 p{
		font: 600 .9rem 'Work Sans', sans-serif;
	}
	
	header .col-5-8 {
   		 float: none;
	}
	
	p{
		font: 400 .75rem/1rem 'Work Sans', sans-serif;
	}
	
	/*Utilities*/
	
	.blk, .blk a{
		clear: both;
	}
	
	.blk, .blk a, #btn-outline-blue, #article p{
		display: block;
	}
	
	/*Site Structure*/
	
	h1 br, footer div.row > .col-1-3:first-child, .after:after, .before:before{
		display: none;
	}
	
	.flex .grid {
  		grid-template-columns: 50px auto 50px auto;
	}
	
	/*Width*/
	
	.col-1-2, .col-1-3, .col-2-3, .col-4-7, .col-5-6, .col-5-8, ul.grid{
		width: 100%;
	}
	
	.col-1-4, .col-1-6, footer .col-1-3{
		width: 50%;
	}
	
	img[src="img/logo-blue.png"]{
		max-width: 70px;
	}
	
	/*Padding*/
	
	header nav ul{
		padding-left: 0;
	}
	
	.col-1-3, .col-2-3{
		padding-right: 0;
	}
	
	header div.col-1-2{
		padding-bottom: 0;
	}
	
	/*Margin*/
	
	.bg-green h2, #intro p{
		margin-bottom: 0;
	}
	
	h1, #about .col-1-4, #instructors, #location, .before .col-5-6, .col-4-7, header .col-5-8{
		margin: 0;
	}
	
	#article p{
		margin-top: 20px;
	}
	
	#about{
		margin-top: 50px;
	}
	
	.bg-green .col-2-3 p{
		margin-top: 0;
	}
	
	.bg-green form input{
		margin-bottom: 20px;
	}
	
	address{
		margin: 5px 0 60px;
	}
	
	#location form p{
		margin-bottom: 60px;
	}
}

